{% extends "base.html"%}

{% block title %}django-files demosite{% endblock %}
{% block content %}
{% load i18n %}
{% load attachments %}

<div class="center">
    <header>
        <h1><a href="https://github.com/rhblind/django-files">django-files</a></h1>
    </header>
    <div class="container_12">
        <div class="grid_12">
            <h1>Basic usage</h1>
        </div>
        {% for shape in shapes %}
        <div class="grid_6">
            <h3>{{ shape }} context</h3>
            <p class="note">
                This context contains an object `shape` returned from the view.
                The following code is rendered with the following tag:
                <br />
                {% templatetag openblock %} get_attachment_count for shape as attachment_count {% templatetag closeblock %}
            </p>
            <ul>
                <li>
                    {% get_attachment_count for shape as attachment_count %}
                    <h4>{{ shape }} - has {{ attachment_count }} {% blocktrans count counter=attachment_count %}attachment{% plural %}attachments{% endblocktrans %}</h4>
                    
                    {% render_attachment_form for shape %}
                    
                </li>
            </ul>
        </div>
        <div class="grid_6">
            <h3>Attachment list</h3>
            {% render_attachment_list for shape %}
        </div>
        {% if not forloop.first %}<div class="grid_12"><hr /></div>{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
