{% extends "base.html"%}
{% block title %}django-files demosite{% endblock %}
{% block content %}
<div class="grid_12 center">
    <h1>Introduction</h1>
</div>
<div class="grid_6">
    <h2>About</h2>

    <p>
        The django-files app is a small attachments framework inspired by
        <a href="https://github.com/bartTC/django-attachments">bartTC's django-attachments</a>
        and the django.contrib.comments framework.
    </p>
</div>
<div class="grid_6">
    <h2>The test object</h2>

    <p>
        By now you should have <span class="label">{{ object.descr }}</span> test object which we will use
        in this little demo to attach attachments to.
    </p>
</div>
{% endblock %}
