{% extends "base.html"%}

{% block title %}django-files demosite{% endblock %}
{% block content %}

{% load attachments %}

<div class="center">
    <header>
        <h1><a href="https://github.com/rhblind/django-files">django-files</a></h1>
    </header>
    <div class="container_12">
        <h1>Introduction</h1>
        
        <div class="container_12">
            <div class="grid_6">
                <h2>About</h2>
                <p>
                    The django-files app is a small attachments framework inspired by
                    <a href="https://github.com/bartTC/django-attachments">bartTC's django-attachments</a>
                    and the django.contrib.comments framework.<br />
                    
                </p>
                <div class="grid_12">
                    <ul>
                        <li><a href="{% url wiz1 %}">Basic usage</a></li>
                        <li><a href="{% url wiz2 %}">View attachment details</a></li>
                        <li><a href="{% url wiz3 %}">Upload attachments</a></li>
                        <li><a href="{% url wiz4 %}">Download attachments</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_6">
                <h2>Features</h2>
                <ul>
                    <li>
                        Attachment relations using the ContentType framework. This means that attachments
                        can be related to any model in your application with no extra work.
                    </li>
                    <li>
                        Database storage backend. Save your files directly in your attachment table. Currently
                        only PostgreSQL and SQLite are supported.
                        <p><label class="alert">Warning!</label><br />
                        This feature should be used with caution if you have lots of attachments. Storing
                        files in the filesystem (after all, that's what filesystems do best) are much
                        more efficient performance wise.</p>
                    </li>
                    <li>
                        Template tags system adapted from the comments framework. If you know how to
                        use django.contrib.comments, managing attachments with django-files should feel
                        right at home!
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="grid_6">
            
        </div>
        
    </div>
</div>
{% endblock %}
